
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8ecae6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #219ebc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #023047;
    border-radius: 4px;
    font-size: 16px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #023047;
    border-radius: 4px;
    font-size: 16px;
    height: 100px; /* Adjust height to show multiple options */
}

button {
    padding: 10px;
    background-color: #023047;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffb703;
}

/* Make sure the table fits well within its container */
.table-container {
    max-height: 500px;  /* Adjust this height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    border: 1px solid #ddd; /* Optional: Add border for better visibility */
}

/* Style for tables */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
}
